/*ContentArea.js*/
.root-div {
    width: 95%;
}
.my-navbar {
    margin-bottom: 7px;
}
.navbar-brand {
    width: 150px;
    height: auto;
}
.navbar-nav{
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.nav-link {
    /*margin-left: 0.5em;*/
    margin-right: 1em;
}
/*end ContentArea.js*/



/*Home*/
.home-root-desktop {
    width: 66%;
    margin: 0 auto;
}
.home-root-mobile {
    /*width: 100%;*/
    margin: 0;
}
.testi-group {
    display: inline-block;
    vertical-align: top;
}
.testimonial {
    width: 180px;
    height: 320px;
    /*display: inline-block;*/
    display: block;
    margin: 20px auto;
}
.testimonial-mobile {
    width: 180px;
    height: 320px;
    display: block;
    margin: 0 auto 130px auto;
}
.testimonial-collapse {
    display: block;
    margin-bottom: 130px;
}
.my-toggle-button {
    width: 95%;
    margin: 10px auto;
}
/*end Home*/

/*Modal*/
.small-logo {
    width: 20px;
    height: auto;
}
/*end Modal*/


/*HomeCarousel.js*/
.home-slides {
    height: 100%;
    padding: 50px 0;
}
.slide-header {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
}
.slide-img-xs {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.slide-img {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}
.figure-xs {
    max-width: 300px;
    margin-bottom: 30px;
}
.figure {
    max-width: 700px;
    margin-bottom: 30px;
}
/*end HomeCarousel.js*/


/*Portfolio.js*/
.portfolio-item {
    margin: 30px auto;
    padding: 30px 0;
    border: 1px solid black;
}
.portfolio-screenshot {
    width: 95%;
    height: auto;
    margin-bottom: 30px;
}
.portfolio-header {
    font-weight: bold;
    text-decoration: underline;
}
/*end Portfolio.js*/


/*Resume.js*/
.resume-img {
    margin: 20px auto;
}
.resume-thumbnail {
    border: 2px solid black;
    border-radius: 8px;
    margin: 0 auto;
}
/*end Resume.js*/



/*About.js*/
.about-video-placeholder {
    width: 640px;
    max-width: 95%;
    margin: 0 auto;
    height: auto;
}
.about-social {
    margin-top: 60px;
}
.about-social-img {
    width: 50px;
    height: auto;
}
/*end About.js*/


/*ContactForm.js*/
.contact-form-div {
    padding: 0 50px;
}
.contact-form-header {
    margin-bottom: 30px;
}
.contact-form-send {
    margin-bottom: 40px;
}
/*end ContactForm.js*/


/*ContactInfo.js*/
.contact-info-div {
    padding: 10px;
}
.contact-item {
    margin: 30px 0;
}
.contact-logo {
    /*icons for email, phone, text, linkedin, etc. logos*/
    height: 30px;
    width: auto;
    margin-right: 10px;
}
dd {
    margin-bottom: 30px;
}
/*end ContactInfo.js*/




/*Misc*/
.no-bullets {
    list-style: none;
}
.text-bold {
    font-weight: bold;
}
.text-underline {
    text-decoration: underline;
}
.text-large {
    font-size: 1.5em;
}
.page-title {
    text-decoration: underline;
    margin-bottom: 10px;
}
/*end Misc*/